.add-book {
  .label-container {
    margin-bottom: 12px;
    span {
      color: black;
      font-size: 18px;
      font-weight: bold;
    }
    .glyphicon-book {
      color:$second;
    }
  }
  .info {
    margin-bottom: 5px;
    font-size: 14px;
    color:$custom-grey;
    line-height: 1.571;
    span {
      color:black;
      font-weight: bold;
    }
    span:last-child {
      color:$second;
    }
  }
  form {
    label {
      color: $third;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .add-book__title-book {
      margin: 0 auto 10px auto;
    }
    .add-book__author {
      margin-right: 20px;
    }
    padding: 15px 18px 0 18px;
    background-color: $default;
    margin-bottom: 30px;
    .btn {
      width: 23.4%;
      float: right;
      background-color: $second;
      color: $third;
      font-weight: bold;
      margin-top: 22px;
    }
  }
}


