.footer{
  font-size: 0;
  background-color: #212121;
  background-image: url(../../../img/footer.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  border-top: 2px solid #212121;
  min-width: 1014px;
  div{
    font-size: 14px;
    line-height: 90px;
    color: #989898;
    a{
      color: #989898;
    }
  }
  .ico-facebook{
    width: 25px;
    height: 25px;
    display: inline-block;
    background-image: url(../../../img/ico/ico-facebook.png);
    vertical-align: middle;
    margin-right: 10px;
  }
}