.import-book {
  .label-container {
    margin-bottom: 12px;
    span {
      color: black;
      font-size: 18px;
      font-weight: bold;
    }
    .glyphicon-link {
      color:$second;
    }
  }
  form {
    padding: 15px 18px 0 18px;
    background-color: $default;
    margin-bottom: 30px;
    .btn {
      min-width: 80px;
      float: right;
      background-color: $second;
      color: $third;
      font-weight: bold;
    }
  }
  #categories-search {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  #categories-select {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

