.search {
  padding: 15px 18px 0 18px;
  background-color: $default;
    .btn {
      width: 80px;
      float: right;
      background-color: $second;
      color: $third;
      font-weight: bold;
    }
}
.Rounded_Rectangle_1_copy_2 {
  border-radius: 4px;
  background-color: rgb( 255, 255, 255 );
  position: absolute;
  left: 754px;
  top: 228px;
  width: 80px;
  height: 31px;
  z-index: 148;
}

