.steps{
  img{
    margin-bottom: 20px;
  }
  .title{
    text-align: center;
  }
  .description{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #989898;
  }
}