---
title: Домашняя
---

<div class="l-main-container">
    <div class="bg-main-container">
        {{> about}}
        <section>
            <div class="fixin clearfix">
                <div class="content col-md-9 col-lg-9 col-sm-9 col-xs-9">
                    {{> slider-last}}
                    {{> steps}}
                    {{> slider-popular}}
                    {{> develop}}
                </div>
                <div class="sidebar col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    {{> user-top}}
                    {{> book-random}}
                </div>
            </div>
        </section>
    </div>
</div>