<li data-prop={{data-prop}} class="slider-item">
    <a href="#"><img src={{cover}} alt="img"/></a>
    <div class="parametrs">
        <ul>
            {{#eachProperty parametrs}}
                <li>
                    <div class="key">{{key}}</div>
                    <div class="value">{{this.value}}</div>
                </li>
            {{/eachProperty}}
        </ul>
        <a href="#"><div class="button-second">Подробнее</div></a>
    </div>
</li>