<div class="full-width bg ind slider-wrap">
    <h3 class="title">Самые читаемые книги<span class="like title-icon"></span></h3>

    <div class="category">
        <ul>
            <li data-prop="all" class="active">Все</li>
            <li data-prop="classic">Классика</li>
            <li data-prop="adventures">Приключения</li>
            <li data-prop="fantasy">Фантастика</li>
            <li data-prop="novel">Роман</li>
            <li data-prop="history">История</li>
            <li data-prop="poetry">Стихи</li>
        </ul>
    </div>
    <div class="slider">
        <ul class="slider-scroll-wrap scroller">
            {{#each books}}
                {{> slider-book-item}}
            {{/each}}
        </ul>
    </div>
</div>