<header>
    <section>
        <div class="fixin clearfix">
            {{#if logged}}
                {{> logged}}
            {{else}}
                {{> not-logged}}
            {{/if}}
        </div>
    </section>
</header>