html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
body{
  font-family: 'Roboto', sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h3{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  line-height: 26px;
}
h4{
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  line-height: 24px;
}
a{
  &:hover{
    text-decoration: none;
  }
}
.bg-main-container{
  background: #fff url(../../../img/pattern.jpg) repeat;
  min-width: 1014px;
}
.full-width{
  width: 100%;
}
.fixin{
  width: 1014px;
  margin: 0 auto;
}
.bg{
  background-color: #fff;

}
.ind{
  padding: 33px;
}
.block-center{
  display: block;
  margin: 0 auto;
}

.in-bl > *{
  display: inline-block;
  font-size: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.button-second{
  border: 1px solid #fff;
  border-radius: 14px;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  color: $third;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.title-icon{
  vertical-align: bottom;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../../../img/ico/icons.png) no-repeat 0 0;
  margin-left: 3px;
  &.like{
    background-position: -60px 0;
  }
  &.clock{
    background-position: -30px 0;
  }
  &.develop{
    background-position: 0 0;
  }
  &.cup{
    background-position: -90px 0;
  }
}
.del-padding-left{
  padding-left: 0;
}
.del-padding-right{
  padding-right: 0;
}
.content {
  background-color: $third;
  padding: 0 2.96%;
  min-height: 48em;
}
.sidebar {
  padding-left: 2.96%;
}
.form-control {
  &:active {
    border-color: $second;
  }
  &:focus {
    border-color: $second;
  }
}
.btn {
  &:active {
    outline-color: $second;
  }
  &:active:focus {
    outline-color: $second;
  }
  &:focus {
    outline-color: $second;
  }
}
a {
  color:$second;
}
