@font-face {
  font-family: 'roboto';
  src: url('../../font/roboto-regular-webfont.eot');
  src: url('../../font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../font/roboto-regular-webfont.woff2') format('woff2'),
  url('../../font/roboto-regular-webfont.woff') format('woff'),
  url('../../font/roboto-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../../font/glyphicons-halflings-regular.eot);
  src: url(../../font/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
  url(../../font/glyphicons-halflings-regular.woff2) format('woff2'),
  url(../../font/glyphicons-halflings-regular.woff) format('woff'),
  url(../../font/glyphicons-halflings-regular.ttf) format('truetype'),
  url(../../font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}