<section class="user-position">
    <img src="./img/avatars/user-pic.jpg" width="37" alt="" class="avatar">
    <div class="description">
        <span class="possition">14</span>
        <span class="count">из 4123</span>
    </div>
</section>