<section class="add-book clearfix">
    <div class="label-container">
        <span>Добавление новой книги</span>
        <i class="glyphicon glyphicon-book"></i>
    </div>
    <div class="info">
        Заполните известные вам данные о книге. <br>
        Если это рассказ, который входит в сборник, добавлять следует сборник, а не каждый рассказ отдельно. <br>
        <span>Полное описание = </span>
        <span>+1 бонус</span>
    </div>
    <form class="form-horizontal clearfix">
        <div class="form-group add-book__title-book">
            <label for="name-book">Название книги</label>
            <input type="text" id='name-book' class="form-control">
        </div>
        <div class="form-group col-md-4 col-xs-4 col-lg-4 add-book__author">
            <label for="name-author-book">Имя автора</label>
            <input type="text" id='name-author-book' class="form-control">
        </div>
        <div class="form-group col-md-5 col-xs-5 col-lg-5 add-book__author">
            <label for="sec-name-author-book">Фамилия автора</label>
            <input type="text" id='sec-name-author-book' class="form-control">
        </div>
        <button type="submit" class="btn">Добавить</button>
    </form>
</section>