<ul class="nav nav-pills nav-alfabet">
    {{#eachProperty alfabet-pointer}}
        <li>
            {{#isnt this.value "лю"}}
                <a src="#">{{this.value}}</a>
            {{else}}
                <a class="active" src="#">{{this.value}}</a>
            {{/isnt}}
        </li>
    {{/eachProperty}}
</ul>