<div class="book-random">
    <h3 class="title">Дочь тумана и костей</h3>

    <div class="item">
        <div class="parametrs-wrap">
            <img src="img/covers/1.jpg" alt="pic"/>

            <div class="parametrs">
                <ul>
                    <li>
                        <div class="key">Автор</div>
                        <div class="value">Тейлор Лэйни</div>
                    </li>
                    <li>
                        <div class="key">Серия</div>
                        <div class="value">Современный любовный роман</div>
                    </li>
                    <li>
                        <div class="key">Жанр</div>
                        <div class="value">Фэнтези</div>
                    </li>
                    <li>
                        <div class="key">ISBN</div>
                        <div class="value">978-5-699-46282-7</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="description">
            Это история двух незнакомых людей, обретших почти сверхъестественную связь после
            операции по переливанию крови… Джастин Хичкок, отдавший свою кровь для анонимного
            переливания, вдруг получает подарочную корзинку, в которую вложена благодарственная
            записка… Джойс Конвей вспоминает такие родные мощеные парижские переулки, но… она
            никогда не была в Париже! Каждую ночь ей снится маленькая девочка с длинными белокурыми
            волосами, но… она не знает эту девочку! Или все- таки знает?… Откуда к ней приходят
            такие воспоминания? Как найти того единственного, с кем они обретут реальность?
        </div>
    </div>
</div>