<div class="full-width develop ind bg clearfix">
    <div class="left-block col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <h3 class="title">Запланировано<span class="title-icon clock"></span></h3>
        <ul>
            <li>Топ 100 по рейтингу, по рекомендациям</li>
            <li>Импорт\экспорт книг</li>
            <li>Оповещение о выходе новой книги у автора или в серии</li>
            <li>Сортировка списка «Хочу прочитать»</li>
            <li>Оповещение о действиях друзей</li>
        </ul>
    </div>
    <div class="right-block col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <h3 class="title">Ведется разработка<span class="title-icon develop"></span></h3>
        <ul>
            <li>Скорость загрузки</li>
            <li>Импорт ozon.ru</li>
            <li>Экспорт twitter.com</li>
            <li>Экспорт vkontakte.ru</li>
        </ul>
    </div>
</div>