<section class="important-info clearfix">
    <div class="label-container">
        <span>Важно</span>
        <i class="glyphicon glyphicon-warning-sign"></i>
    </div>
    <div class="info">
        <ul>
            <li>Перед добавление убедитесь, что этой книги нет в <a href="catalog.html">каталоге</a></li>
            <li>Обложка не должна содержать водяных знаков других ресурсов</li>
            <li>Книга появиться на вашей полке после проверки модератором</li>
        </ul>
    </div>
</section>