<div class="janres">
    <h3 class="title">Жанры</h3>
    <div class="main">
        <ul>
            {{#each janres}}
                <li>
                    <span>{{this}}</span>
                </li>
            {{/each}}
        </ul>
        <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ul>
    </div>
</div>