<section>
    <ul class="pagination">
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">23</a></li>
        <li><a href="#">24</a></li>
    </ul>
    <ul class="pagination pull-right button">
        <li><a class="prev disabled" href="#">&lt; Предыдущая</a></li>
        <li><a class="next" href="#">Следующая &gt;</a></li>
    </ul>
</section>