<section class="search search-users clearfix">
    <form class="form-horizontal">
        <div class="form-group  col-md-11 col-xs-11 col-lg-11">
            <label class="sr-only" for="users-search">Search</label>
            <input type="text" id='users-search' placeholder="Найти" class="form-control">
        </div>
        <button type="submit" class="btn">Найти</button>
    </form>
</section>