<section>
    <div class="full-width bg-image clearfix">
        <div class="fixin about-eina">
            <div class="about-proj-wrap">
                <h3 class="title">Что такое eina.ru?</h3>

                <div class="about-text">
                    <p>Многие журналисты задают вопрос: «Какую книгу Вы сейчас читаете?» или
                        «Какую книгу Вы прочитали последней?» Как думаете, для чего? Ответ очень прост: чтобы
                        понять, откуда человек черпает знания. Понять, чем «живет» человек.</p>

                    <p>Возможно, и по той причине, что если человек прочитает те же книги, то сможет стать таким
                        же выдающимся. Да и порой просто хочется прочитать книгу, но не знаешь, какую, — тогда
                        спрашиваешь совета у друзей.</p>

                    <p>Хочу представить вам сервис для любителей литературы. Он поможет вам вести списки книг и
                        в то
                        же время позволит всем интересующимся узнать о вас чуточку больше.</p>
                </div>
            </div>
        </div>

    </div>
</section>